/* Reset general para evitar márgenes innecesarios */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estructura del body para layout horizontal */
body {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

/* Estilo de la barra lateral */
.sidebar {
  width: 200px;
  background-color: #4C4F52;
  color: white;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

/* Contenedor del contenido principal */
.content {
  flex-grow: 1; /* Permite que este contenedor ocupe todo el espacio restante */
  margin-left: 200px;
  padding: 20px;
  overflow-y: auto;
}

/* Cabecera del contenido */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.user-icon {
  background-color: #4C4F52;
  color: white;
  padding: 10px 10px;
  border-radius: 50%;
  
}

/* Formulario de registro de dinero */
.register-money {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #4C4F52;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3a3d40;
}

/* Gráfica */
.charts {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

canvas {
  width: 100% !important;
  max-width: 600px;
  height: auto !important;
  margin: 0 auto;
}
